# Sanity CMS — https://www.sanity.io/manage
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2024-01-01

# Token com permissão de escrita (para salvar reservas)
SANITY_API_WRITE_TOKEN=
